services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: ecommerce-backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres.jtukapbrjqxoizkhtjpi:helpnetecommerce123@aws-1-sa-east-1.pooler.supabase.com:5432/postgres
      PORT: 3001
    ports:
      - "3001:3001"
    networks:
      - ecommerce-network
    volumes:
      - ../backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: ecommerce-frontend
    restart: unless-stopped
    environment:
      VITE_API_BASE_URL: http://backend:3001
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - ecommerce-network
    volumes:
      - ../frontend:/app
      - /app/node_modules

networks:
  ecommerce-network:
    driver: bridge
